#about .contents{
  color:#4F535F;
  padding-top:250px
}
#about .contents .heading{
  font-weight:900;
  letter-spacing:2px;
  padding-bottom:10px;
  margin-bottom:15px;
  position:relative
}
#about .contents .heading::after{
  -webkit-transition:1s ease;
  transition:1s ease;
  content:"";
  position:absolute;
  bottom:0px;
  left:0px;
  width:10%;
  height:8px;
  background:#4F535F;
  border-radius:10px
}
#about .contents .heading:hover::after{
  width:20%
}
#about .contents .link{
  font-size:2em;
  font-weight:900;
  letter-spacing:2px;
  color:#3498db;
  -webkit-transition:0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition:0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background:-webkit-linear-gradient(left, #3498db 0%, #3498db 52%, #4f535f 52%, #4f535f 52%, #4f535f 100%);
  background-position:15%;
  background-size:250%;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent
}
#about .contents .link:hover{
  background-position:-70%;
  text-decoration:none
}
