#contact .contents{
  color:#4F535F;
  padding-top:250px
}
#contact .contents .section{
  padding-bottom:40px
}
#contact .contents .heading{
  color:#3498db;
  font-weight:200
}
#contact .contents .data{
  font-weight:900;
  letter-spacing:2px
}
#contact .contents .data a{
  color:#4F535F;
}
#contact .contents .data a:hover{
  color:#3498db;
  text-decoration: none;
}
#contact .contents .social .icon{
  font-size:1.5rem;
  color:#4F535F;
  padding:10px
}
#contact .contents .social .icon:hover{
  color:#3498db
}
