body{
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 900px;
  background: #fafafa;
  margin: 0 auto;
  border-left: 5px dotted sandybrown;
  border-right: 5px dotted sandybrown;
  min-height: 90vh;
}

h1{
 font-size: 40px;
}

.icon{
  padding: 20px 10px;
  color: #333333;
  &:active{
    color: #333333;
  }
}

.blog-posts{
  border-top: 5px dashed sandybrown;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 35px;
  padding-top: 35px;
  .post-heading{
    font-size: 26px;
    a{
    color: salmon !important;
    text-decoration: none; 
      &:visited{
        color: salmon;
      }
    }
  }
  .post-date{
    font-size: 15px;
  }
}

.blog-post-container{
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

